/*General*/
/* 
#page-container {
    position: relative;
    min-height: 100vh;
  } */
  
#content-wrap {
    min-height: calc(100vh - 40px);
}
  
a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}


* { box-sizing: border-box; }

body {
  margin: 0px;
  font-family: 'Poppins', 'sans-serif';
}

/* Header */

.logo-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    align-items: center;
    display: flex;
    
}

.main-nav a {
    color:#333;
    text-decoration: none;
}

.sub-nav {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
}

.galleryContainer {
    padding-top: 20px; 
}


@media (min-width: 768px){
    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .logo-small {
        display: none;
    }

    .main-nav {
        margin-right: 50px;
    }

    .main-nav h2{
        font-size: 1.2rem;
    }

    .sub-nav .logo-big{
        max-width: 30%;
    }
}

@media (max-width:767px) {
    header {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .sub-nav .logo-big {
        display: none;
    }
    .sub-nav .logo-small{
        max-width: 30%;
    }
    .main-nav h2{
        font-size: 0.8rem;
        text-decoration: none;
    }
}


.main-nav ul li::after {
    content: '';
    width: 0%;
    background-color: #F7BCBF; 
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transition: left 0.4s, width 0.4s;
}

.main-nav ul li:hover::after {
    width: 100%;
    left: 0;
}

header ul li a {
    color: rgb(19, 19, 19);
}
nav ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    padding: 0 8px;
    margin-right: 4px;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
}

/*Home page banner*/

.banner {
    background: rgb(147, 137, 207);
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    align-items: center;
    color: white;
}

.banner h2 {
    margin: 0;
}

/*Home page buttons */


@media (min-width: 768px){
    .big-join {
        border-right: solid 4px #F7BCBF;
    }
    .small-join {
        display:none;
    }
    .small-view {
        display:none;
    }
}

@media (max-width: 767px){
    .big-join {
        display:none;
    }
    .big-view {
        display:none;
    }

    .container {
        padding: auto;
        margin: auto;
    }

    .small-join {
        border-bottom: solid 4px #F7BCBF;
    }
    h2 {
        font-size: 1.2rem;
    }
}


/* VIEW GALLERY*/
/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: 'poppins', sans-serif;
}

.gallery .signup .container {
    padding-top: 20px;
}

/* ---- isotope ---- */

.grid {
  background: rgb(255, 255, 255);
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
@media (min-width: 768px){
    .grid-sizer,
    .grid-item {
    width: 33.333%;
    }

}

@media (max-width: 767px){
    .grid-sizer,
    .grid-item {
    width: 50%;
    }
}

.grid-item {
  float: left;
  background-color: black;
}

.grid-item img {
  display: block;
  max-width: 100%;
  transition: 0.3s;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px; 
    color:#F7BCBF; 
    opacity: 0;
    transition: 0.5s;
}

.grid-item:hover .bottom-left{
    opacity: 1;
}

.grid-item:hover img {
    opacity: 0.3;
}

/* Sign up */

.row .intro {
    background-color: #dcc8ef;
    padding: 15px;
    row-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

.row .who {
    background-color: #F7BCBF;
    padding: 15px;
    row-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

.row .terms {
    background-color: #F4FFF6;
    padding: 5px;
    font-size: 0.8rem;
}

.row .padding {
    padding-top: 10px;
}

/* sign up form*/
.option{
    display:none;
  }
  
.option1  {
    padding: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
}

.option2 {
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
}

.signup h3 {
    font-size: 1.2rem; 
}

.signup h2 {
    font-size: 1.4rem;
}

 input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #f7bcbf;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffedad;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

input[type="text"], 
input[type="email"], 
textarea{
    width: 100%;
    margin-top: 15px;
    padding: 2px 10px; 
    border: 2px solid #dcc8ef;
    border-radius: 2px;  
}

form .btn {
    background-color: #F7BCBF;
    border: none;
    margin-top: 15px;
    float: right;

}

form .btn:hover {
    background-color: #f89da1;
}

form .btn:active {
    background-color: #f89da1;
}

form .btn:focus {
    background-color: #f89da1;
}

.footer .home {
    padding: 0px; 
    background-color: #E4FFF6;
    color: rgb(26, 26, 26);
    align-content: center;
    position: absolute;
    bottom:0;
    width: 100%
}

.footer {
    padding: 15px; 
    background-color: #E4FFF6;
    color: rgb(26, 26, 26);
    align-content: center;
    position: relative;
    bottom:0;
    width: 100%
}

.footer a {
    color:rgb(26, 26, 26);
    text-align: center;
}

.footer i {
    font-size: 24pt;
    align-items: center;
}

/*
Purple: #DCC8EF
Pink: #F7BCBF
Yellow: #FFEDAD
Blue: #E4FFF6 */


